<h2 class="text-center text-white my-2">Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="mx-auto">
    <div class="container-fluid p-3 m-4 rounded project-form-container h-100 w-50 mx-auto">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>

      <div class="text-center d-flex w-100 justify-content-center align-items-center">
        <div class="normal-btn">
          <%= f.button :submit, "Update" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="mx-auto">
  <div class="container-fluid p-3 m-4 rounded project-form-container h-100 w-50 mx-auto">
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>
