<%= simple_form_for landing_page, url: url, remote: true  do |f| %>
  <div class="form-group">
    <%= f.label :title, "TITRE *" %>
    <%= f.input :title, class:"form-control", placeholder:"Portfolio", label: false %>
  </div>
  <div class="form-group">
    <div class="d-flex align-items-baseline">
      <i class="far fa-file-code pr-2"></i>
      <i class="fab fa-html5 pr-2"></i>
      <%= f.label :html, "HTML *" %>
    </div>
    <%= f.input :html, class:"form-control", :input_html => {:rows => 20}, placeholder:"<h1> Bonjour ! </h1>", label: false %>
  </div>
  <div class="form-group">
    <div class="d-flex align-items-baseline">
        <i class="far fa-file-code pr-2"></i>
        <i class="fab fa-css3-alt pr-2"></i>
        <%= f.label :css, "CSS"%>
    </div>
    <%= f.input :css, class:"form-control", :input_html => {:rows => 20}, placeholder:"h1 { color : black ;}",label: false %>
  </div>

  <div class="form-group">
    <div class="d-flex align-items-baseline">
      <i class="fas fa-file-image pr-2"></i>
      <label>Ajouter un fichier</label><br>
    </div>
    <div id="upload-images">
      <div class="upload_image">
        <%= f.file_field :images, multiple: true, direct_upload: true, class:"form-control-file btn btn-outline-light mb-2 w-50" %>
      </div>
    </div>
  </div>

  <div id="landing_pages-users">
    <div class="d-flex align-items-baseline">
      <i class="fas fa-users pr-2"></i>
      <p>Ajouter / Enlever des users</p>
    </div>
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush" style="color:black !important; height:9rem; display:block; overflow:auto">
        <%= f.association :users, collection: @users, :as => :check_boxes, :wrapper_html => {class:"px-3 py-2 d-flex flex-column justify-content-center"},include_hidden: false, :input_html => {:multiple => true}, label: false %>
      </ul>
    </div>
  </div>

  <div class="form-group w-100 text-center mt-4">
      <%= f.submit (params[:controller] == "user/landing_pages" && params[:action] == "edit") ? "Sauvegarder" : "Ajouter ma page", class:"small-btn" %>
  </div>
<% end %>
