<div class="w-100 d-md-flex justify-content-between text-center align-item-center flex-wrap flex-column" style="min-height:80vh">
  <div class="circle"></div>

  <div class="home-container">
    <div class="color gradient"></div>
    <h1 class="container display-3 mt-5 mb-1">MHV Support</h1>
    <div class="d-flex w-75 flex-column justify-content-start mx-auto">
      <p class="my-5"><span> Tous les cours, projets et vos réalisations disponibles ici.</span></p>
    </div>
  </div>

  <div class="home-container">
    <div class="color memphis"></div>
    <!-- <p class="mt-5 mb-4"> Dans cet onglet il y a tous les cours auxquels vous avez et allait assister. </p> -->
    <div class="d-flex justify-content-center align-content-center flex-wrap">
      <div class="d-flex flex-column align-items-center mx-4">
        <i class="fas fa-book fa-3x icon"></i>
        <h2 class="big-btn mx-auto my-4"><%= link_to "Accéder a mes supports", courses_path, class:"text-decoration-none" %></h2>
      </div>
      <div class="d-flex flex-column align-items-center mx-4">
        <i class="fas fa-project-diagram fa-3x icon"></i>
        <h2 class="big-btn mx-auto my-4"><%= link_to "Accéder a mes projets", user_projects_path, class:"text-decoration-none" %></h2>
      </div>
      <div class="d-flex flex-column align-items-center mx-4">
        <i class="fas fa-file-code fa-3x icon"></i>
        <h2 class="big-btn mx-auto my-4"><%= link_to "Accéder a mes pages", user_landing_pages_path, class:"text-decoration-none" %></h2>
      </div>
    </div>
  </div>

  <!-- <div class="home-container">
    <div class="color light"></div>
    <p class="mt-5 mb-4"> Ici, ce sont les projets réalisés en ligne auxquels vous pouvez accéder via leur url. </p>
    <h2 class="home-btn mx-auto my-3"><%= link_to "Accéder a mes projets", user_projects_path, style:"text-decoration:none" %></h2>
  </div>

  <div class="home-container">
    <div class="color"></div>
    <p class="mt-5 mb-4"> Ce sont là toutes les pages statiques que vous avez faites, vous pouvez aussi les visualiser. </p>
    <h2 class="home-btn mx-auto my-3"><%= link_to "Accéder a mes pages", user_landing_pages_path, style:"text-decoration:none" %></h2>
    <div id="background-wrap">
      <div class="x1">
          <div class="cloud"></div>
      </div>
      <div class="x2">
          <div class="cloud"></div>
      </div>
      <div class="x3">
          <div class="cloud"></div>
      </div>
      <div class="x4">
          <div class="cloud"></div>
      </div>
    </div>
  </div> -->
</div>
