<div class="container-fluid text-center">
  <h1 class="display-4 mt-5 mb-5 text-white">Notes</h1>
  <div class="mt-5 d-md-flex flex-column justify-content-start text-center align-item-center mx-auto">
    <% @users.each do |user| %>
    <p> <%= user.name %> </p>
    <div class="bg-light rounded w-50 mx-auto">
      <table class="w-100 px-4 py-3 d-flex justify-content-center">
        <tbody class="w-100">
          <tr class="d-flex w-100 justify-content-between border mb-1">
            <th class="w-25">QCM</th>
            <th class="w-25">Réponses</th>
            <th class="w-25">Note</th>
          </tr>
          <% @surveys.each do |survey| %>
            <% x = matchAnswers(user, survey)%>
            <% y = survey.questions.count %>
            <tr class="d-flex w-100 justify-content-between">
              <td class="w-25"><b><i><%= survey.title %></i></b></td>
              <td class="w-25"><%= "#{x} / #{y}"%> good.</td>
              <td class="w-25" id="survey-<%= survey.id %>-user-<% user.id %>"><span><%= getNote(x,y) %></span> / 20.0</td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br><br>
    <% end %>
  </div>
</div>
